@font-face {
    font-family: 'Icon';
    src: url(icon-font/icons-20160627.67e43eaa035e1b2ebfe46a6c311cfa5a.woff);
}
html, body {
	margin:0; 
	padding:0;
	background-color:#F7F9F8;
	font-family:"Roboto", sans-serif; 
	font-size: 16px;
}
header {
	background-color: #60A735;
	height: 50px;
	text-align: center;
}
header > img {
	height: 24px;
	width: auto;
	padding: 13px;
}
.content {
	padding: 20px;
	max-width: 640px;
	margin: 0 auto;
}
.h1 {
	font-size: 2em;
}
.h2 {
	font-size: 1.1em;
	font-weight: bold;
	position: relative;
}
.card {
	padding: 20px;
	margin-top: 20px;
}
.card.white {
	background-color: white;
	border: 1px solid #C5C5C5;
	border-radius: 5px;
}
@media (max-width: 679px) {
	.card.white, .card {
		border-left:none;
		border-right:none;
		border-radius: 0;
		margin-left:-20px;
		margin-right: -20px;
	}
}
.detail {
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: normal;
	vertical-align: middle;
}
.inline {
	width: 50%;
	display: inline-block;
}
.catches {
	margin: 20px 0;
}
.catch .rank,.catch .link,.catch .eas {
	display: inline-block;
}
.rank {
	margin-right: 5px;
	color: black;
}
.link {
	color: #0B9ABC;
}
.eas {
	color: #9C9C9C;
}
.catch {
	margin-bottom: 10px;
}
.catch .link {
	width: 70%;
}
.catch .eas {
	width: 30%;
	text-align: right;
	vertical-align: top;
}
.icon {
	margin-right: 5px;
}
.action {
	text-align: center;
}

.subject {
	font-weight: bold;
}
.user .img-user {
	width: 30px;
	height: 30px;
	border-radius:2px;
	background-color: #ebeef0;
	display: inline-block;
}
.user > span {
	vertical-align: middle;
	display: inline-block;
}
.post-content, .post-info {
	display: inline-block;
	vertical-align: top;
}
.post-content {
	width: calc(70% - 1px);
    border-right: 1px solid #F0F2EF;
}
.post-info {
	width: calc(30% - 20px);
    padding-left: 20px;
}
.post-info .label,
.post-info .value {
	font-size: 0.75em;
}
.post-info .label {
	text-transform: uppercase;
	font-weight: bold;
}
.post-info .value {
	margin-bottom: 20px;
}
.btn-contact {
	    margin: 20px -20px -20px;
    padding: 20px;
    text-align: center;
    background-color: #F0F2EF;
    color: #0B9ABC;
    font-weight: bold;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn-back{
	font-weight: bold;
    background-color: white;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #C5C5C5;
    color: #0B9ABC;
}
.btn-back img {
    width: 7px;
    vertical-align: -1px;
    margin-right: 5px;
}
.glyphicon {
	    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Icon';
    padding: 1px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
	float: left;
    font-size: 16px;
    color: #999;
    margin-right: 3px;
}
.glyphicon-like::before {
	    content: "\e607";
}
.glyphicon-thank::before {
	    content: "\e013";
}
.glyphicon-reply::before {
    content: "\e011";
}
.glyphicon-search:before {
    content: "\e02a";
   }
.post-engagement-details > div {
	display:inline-block;
	margin-right: 10px;
}
.search-bar input[name="filters[keyword]"] {
	    width: calc(100% - 20px);
    border-radius: 5px;
    border: 1px solid #C5C5C5;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    margin-top: 20px;
    font-size: 1em;
}
.search-area {
	position: relative;
}
.search-area .btn-submit {
	    position: absolute;
    right: 10px;
    bottom: 10px;
}
.glyphicon-search {
	    color: black;
    font-size: 1.3em;
}
.search-bar .label {
	    font-size: 0.8em;
    text-transform: uppercase;
}
.search-bar .filter {
	margin-left: 10px;
	display:inline-block;
	margin-top: 10px;
}

.search-bar input[value="Filter"] {
	visibility: hidden;
}
.post-engagement-details {
	margin-top: 20px;
}
.user {
	margin-top: 20px;
}